* {
    margin: 0;
    padding: 0;
}
.font-bold {
    font-weight: bold;
}
.font-18 {
    font-size: 18px;
}
.color-gray {
    color: gray;
}

/* header start */
header {
    width: 100%;
    padding-top: 25px;
    height: 50px;
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.297);
    /* z-index: 999; */
    /* position: fixed; */
}
header div{
    padding: 0 40px;
    margin-right: 20px;
}
#mainTitle{
    text-decoration: none;
    color: #ef303d;
    padding-left: 60px;
}

#mainLog{
    font-size: 16px;
    color: black;
    padding: auto;
    width: 70px;
    height: 30px;
    margin-right: 60px;
}
/* header css end*/

/* 최상단 검색창 css start*/
#search-box {
    width: 100%;
    height: 50px;
    margin: 40px 0;
    display: flex;
    justify-content: space-around;
}

#icon-box{
    width: 200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#icon-box p{
    padding: 0;
}

.hotel-icon{
    font-size: 16px;
    color: black;
}

#search-main{
    width: 370px;
    margin-top: 5px;
}

#search-btn{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-top: 5px;
}
#search-btn div{
    width: 120px;
    text-align: center;
    font-size: 17px;
}
#where-box{
    padding-left: 30px;
}
#when-box{
    padding-right: 25px;
}
#search-btn div p{
    padding-top: 2px;
}
#search-btn-span{
    font-size: 20px;
    color: rgb(188, 188, 188);
    height: 100%;
}

#search-icon{
    width: 20px;
    background-color: #ef303d;
    font-size: 16px;
    color: white;
    border-style: none;
    border-radius: 50%;
    padding: 4px;
    margin-right: 3px;
    margin-top: -2px;
    float: right;
}

#search-detail{
    width: 850px;
    height: 60px;
    background-color:lightgray;
    border-radius: 30px;
    position: absolute;
    display: flex;
    transform: translate(300px,100px);
    justify-content: space-around;
    box-shadow: 7px 7px 10px #111;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
    display:flex;
}

.modal2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal2.show {
    display: flex;
}

#search-detail p{
    font-size: 14px;
    font-weight: bold;
}

#search-location{
    width: 460px;
    height: 100%;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background-color: white;
}
#search-location input{
    width: 400px;
    font-size: 16px;
    border: none;
    padding: 5px 0;
}


datalist {
  position: absolute;
  max-height: 20em;
  border: 0 none;
  overflow-x: hidden;
  overflow-y: auto;
}

datalist option {
  font-size: 0.8em;
  padding: 0.3em 1em;
  background-color: #ccc;
  cursor: pointer;
}

datalist option:hover, datalist option:focus {
  color: #fff;
  background-color: #036;
  outline: 0 none;
}

.checkInOut-box{
    width: 120px;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
.checkInOut-box input{
    width: 100px;
    font-size: 16px;
    border: none;
    padding: 5px 0;
}
#search-detail-btn{
    width: 90px;
    height: 100%;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ef303d;
    display: flex;
    justify-content: center;
}
#search-detail-btn button{
    background-color: #ef303d;
    height: 50px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
    border-style: none;
    cursor: pointer;
}
#search-detail-btn span{
    color: white;
}

/* 서치버튼과 필터 박스 */
#subsearch-box{
    width: 400px;
    display: flex;
    justify-content: space-around;
}

#filter-box{
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    margin-top: 7px;
}
#filter-box i,span,a{
    color: black;
    text-decoration: none;
    padding-top: 3px;
}
#filter-box button{
	width:80%;
	height:100%;
	background-color:white;
	text-decoration: none;
	cursor: pointer;
	border-style: none;
}
#filter-main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 655px;

    padding: 10px 10px;

    /* text-align: center; */

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 7px 7px 10px #111;
    transform: translateX(-50%) translateY(-52%);
}

/* filter main 폼 */
#filter-header{
    border-bottom: 1px solid gray;
    text-align: center;
    width: 100%;
    height: 30px;
}
#price-box{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
#price-text{
    /* text-align: center; */
    color: gray;
    margin-bottom: 50px;
    padding-top: 5px;
}
#range-box{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.middle {
    position: relative;
    width: 90%;
    max-width: 500px;
}

.slider {
    position: relative;
    z-index: 1;
    height: 6px;
    margin: 0 15px;
}

.slider>.track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: lightgrey;
}

.slider>.range {
    position: absolute;
    z-index: 2;
    left: 0%;
    right: 0%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: gray;
}

.slider>.thumb {
    position: absolute;
    z-index: 3;
    width: 25px;
    height: 25px;
    border: 2px solid gray;
    border-radius: 50%;
}

.slider>.thumb.left {
    left: 0%;
    transform: translate(-27px, -12px);
}
.slider>.thumb.left p{
    color: gray;
    margin-top: 3px;
    margin-left: 5px;
}

.slider>.thumb.right {
    right: 0%;
    transform: translate(27px, -12px);
}

.slider>.thumb.right p {
    color: gray;
    margin-top: 3px;
    margin-left: 5px;
}

input[type="range"] {
    position: absolute;
    /* opacity로 가린 것을 이벤트도 비활성화하기 위해 */
    transform: translateX(-2%);
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 105%;
    opacity: 0;
}

input[type="range"]::-webkit-slider-thumb {
    /* 겹쳐진 두 thumb를 모두 활성화 */
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    /* appearance를 해야 위의 스타일들을 볼 수 있음 */
    -webkit-appearance: none;
}

#value-box{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: -10px;
    color: gray;
    text-align: center;
}
#value-box h3{
    margin-top: 15px;
}
.val-box{
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}
.val-box p{
    margin-top: 5px;
    font-size: 14px;
}
.val-box input{
    width: 170px;
    font-size: 20px;
    border: none;
}

#category-box{
    margin-top: 20px;
    width: 100%;
}

#filter-main-btn{
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
}

#category-box button{
    background-color: red;
    color: white;
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
}

#category{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
#category i{
    font-size: 40px;
    text-align: center;
    padding: 5px 0;
}
/* filter main 폼 end */

#ckeckInOut-box{
    display: flex;
    justify-content: space-around;
    width: 250px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
}
#ckeckInOut-box input{
    width: 100px;
    height: 20px;
    border-radius: 15px;
    outline: none;
    text-align: center;
}
/* 최상단 검색창 css end*/


/* content start*/
#content {
    width: 100%;
    height: 100%;
}

#content-area{
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.hotel-box{
    width: 300px;
    height: 400px;
    display: inline-block;
    margin: 10px;
    text-decoration :none;
}

.hotel-box img{
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 15px;
    outline: none;
}

.hotel-box p{
	font-size : 14px;
    padding: 3px 10px;
    margin-bottom:0px;
}
.hotel-box h3{
	padding: 3px 10px;
    margin-bottom:0px;
}
/* content end*/



footer {
    width: 100%;
    height: 0;
    background-color: rgb(245, 245, 245);
    color: rgba(0, 0, 0, 0.38);
    padding: 50px 0;
    font-size: 13px;
    border-top: 1px solid rgba(0, 0, 0, 0.297);
	
}

 #profile-img {
        background-color: white;
        border: 1px solid rgb(171, 167, 167);
        width: 50px;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
        margin-right: 100px;
 }
 
  #profile-menu{
        border: 1px solid rgb(171, 167, 167);
        width: 200px;
        padding: 5px;
        border-radius: 10px;
        margin: 3px;
        display:none;
        position: absolute;
        margin: 3px;
   		margin-left: -10px;
        background-color: white;
    }
  #profile-menu.active{
      display: flex;
      flex-direction: column;
      justify-content: center;
      color:gray;
    }

   #wrapper {
        padding: 10px;
        width: 100%;
    }
    
   #wrapper li {
   		list-style:none;
   		padding:10px
   }
    
   #board, #sign {
   		padding:10px;
   		margin-left:10px;
   }
   
   #rine {
   		width: 90%;
   }
   
    

