    section, aside{ padding:0px;}
    #container		{ background-color:#F0F0F0; width:960px; margin:0 auto; padding:0px; }
    section#content		{ background-color:#F5F5F5; float:right; width:680px; height:400px; }
    aside		{ background-color:white; float:right; width:280px; height:400px; }
    nav { 
        float: right;
        transform: translate(0, -10px);
    }
    nav ul {
        padding : 0px; 
        list-style: none; 
        display: flex;
    }
    nav ul li:not(:last-of-type)::after {
        content : '|';
    }
    nav ul li a {
        text-decoration: none;
        color: #000;
        padding: 0 10px;
    }
    nav ul li:hover a {
        color: #fff;
    }
    aside li {
      list-style-type: none;
      margin-bottom: 40px;
    }
    aside li a{
      text-decoration: none;
      color: #000;
      font-size: larger;
      font-weight: 800;
    }
