#entireBox{
	display : flex;

}
#typeBox{
	padding-left :200px;
	padding-top :50px;
	padding-bottom :10px;
}

div.adminBox{
	width: 500px;
	
}
#entireBox li{
	padding:  20px;
	padding-left :100px;
	list-style: none;
	}
#entireBox a{
	font-size : 20px;
	color : black;
	text-decoration: none;
	
}
#categoryBox img{
	width:70px;
}
#categoryBox{
	width:600px;
	height :210px;
	text-align: center;
	font-family: 'Gowun Dodum' ;
}
.entireBox {
	border-radius: 5%;
	border: 1px solid gray;
	width: 800px;
	height:100%;
	text-align: center;
	margin-left:25%;
}
			
#enrollTb td{
	border : solid 1px gray;
	border-top : none;
	border-right : none;
	border-left :none;
	text-align: center;
	
}
.put{
	width: 500px;
	height: 40px;
	font-size: larger;
	border :none;
}
.put info {
	height: 100px;

}
#enrollTb {
	font-family: 'Gowun Dodum' ;
	font-size :x-large;
}
.hotelbtn{
    width: 100px;
    height: 40px;
    background-color: black;
    padding: 5px 0;
    border-radius: 15px;
    outline: none;
    font-size: 15px;
    text-align: center;
    color: white;
	border : none;
}

.sidebar {
  position:absolute;
  width: 15%;
  height: 100%;
  font-size: 15px;
  border-right: solid rgb(236, 231, 231) 1px;
}

.userView-nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 45%;
  transform: translateY(-50%);
  font-weight: bold;
}

.userView-nav ul {
  list-style: none;
}
  
.userView-nav li {
    position: relative;
    margin: 2.2em 0;
  }
    
.userView-nav a {
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      display: block;
      transition: all ease-out 300ms;
      color: black;
    }
   
#wrapper {
	margin-bottom: 12%;
    width: 100%;
    text-align: center;
}

.sidebar li:hover {
	background-color: rgb(233, 227, 227);
    border-radius: 10px;
}

