@CHARSET "UTF-8";
/*관리자 페이지 : 회원관리 */
section#userList-container {text-align:center; height:100%;}
section#userList-container table#tbl-user {width:100%; border:1px solid gray; border-collapse:collapse;}
table#tbl-user th, table#tbl-user td {border:1px solid gray; padding:10px; width:900px; }

section#userList-container div#neck-container{padding:0px; height: 50px;}
section#userList-container div#search-container {margin:0 0 10px 0; padding:3px; float:left;}

/*페이징 : 페이지당회원수*/
section#userList-container div#numPerPage-container{float:right; margin-top: 10px;}
section#userList-container form#numPerPageFrm{display:inline;}

/*페이징 : 페이지바 */
section#userList-container div#pagebar{margin-top:10px; text-align:center;}
section#userList-container div#pagebar span.cPage{ margin-right: 5px;}
section#userList-container div#pagebar a{margin-right: 5px; text-decoration: none;}
section#userList-container div#pagebar a:hover {text-decoration: underline;}

#pagebar {
	margin-left: 37%;
}

.sidebar {
  position:absolute;
  width: 15%;
  height: 100%;
  font-size: 15px;
  border-right: solid rgb(236, 231, 231) 1px;
}

.userView-nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 45%;
  transform: translateY(-50%);
  font-weight: bold;
}

.userView-nav ul {
  list-style: none;
}
  
.userView-nav li {
    position: relative;
    margin: 2.2em 0;
  }
    
.userView-nav a {
      line-height: 20px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      display: block;
      transition: all ease-out 300ms;
      color: black;
    }
    
  .enroll-container {
    display: block;
    margin-left: 20%;
    height: 300px;
    width: 400px;
    padding-top: 5%;
  }
  
  table, tr{
    width: 500px;
  }
  table, td{
    padding: 10px;
  }
  table, th{
    width: 900px;
  }
  .input {
    border:none;
    height: 40px;
    width: 400px;
    font-size:17px;
    border-radius:10px;
    color : gray;
  }
  #button{
    margin-left: 35%;
    padding-top:13%;
  }
  .userList-container{
  	margin-left:23%;
  	padding:15px;
  	margin-bottom:30%;
  }
  body {
  display:contents;
  height:100%;
  }
  .sidebar li:hover {
	background-color: rgb(233, 227, 227);
    border-radius: 10px;
}

.userinfo div{
	border-bottom: solid 1px gray;
	padding:13px;
}

.userinfo {
	margin: 15px;
	padding:10px;
	width:500px;
}

.button {
	width: 50px;
	height: 27px;
	background-color: black;
	padding: 5px 0;
	border-radius: 15px;
	outline: none;
	font-size: 15px;
	text-align: center;
	color: white;
	border: none;
	cursor:pointer;
	margin-top: 17px;
}
 
 #tbl-user th {
 	background-color: #c4bdbd;
 }
 
  