/* content start*/
#content {
    width: 100%;
    height: 100%;
}

#hotel-address{
	margin : 5px 0;
	color : gray;
	font-size : 18px;
}

#hotel-info{
    width: 830px;
    height: 450px;
    margin: 30px auto;
}

#total-image{
    display: flex;
    justify-content: space-around;
}

#hotel-image{
    width: 400px;
    height: 400px;
    border-radius: 15px;
    outline: none;
}

#check-box{
    width: 550px;
    height: 65px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    padding: 10px 10px;
}

.checkMain-box{
    width: 200px;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    border: 2px solid #ef303d;
}

#check-box h3{
    padding: 5px 0;
}

#check-box input{
    width: 160px;
    font-size: 16px;
    padding: 5px 0;
    border-style: none;
    text-align: center;
}
#search-detail-btn button {
    background-color: #ef303d;
    height: 50px;
    margin-top: 5px;
    color: white;
    font-size: 16px;
    border-style: none;
    cursor: pointer;
}

#search-detail-btn {
    width: 90px;
    height: 100%;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ef303d;
    display: flex;
    justify-content: center;
}
#room-image-box{
    width: 410px;
    height: 410px;
}
.room-image{
    display: inline-block;
    margin: 0 0 3px 3px;
    width: 195px;
    height: 195px;
    border-radius: 15px;
    outline: none;
}

#room-info{
    width: 1000px;
    height: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    border-top : 1px solid gray;
    
}

#main-room-image{
    width: 400px;
    height: 250px;
    border-radius: 15px;
    margin: 10px 0;
    outline: none;
}
img{
	width:100%;
	height : 100%;
	border-radius: 15px;
    outline: none;
}

#main-room-info{
    width: 550px;
    height: 250px;
    margin: 15px 0;
}

#main-room-info h2{
    margin-bottom: 70px;
}

#main-room-info span{
    float: right;
    font-size: 23px;
}

#price-box{
	margin-top : 30px
}

#price-name{
    font-size: 18px;
    font-weight: bold;
    padding: 14px 0;
}

#info p{
	padding : 10px 0;
}

#reservation-btn{
    width: 100%;
    height: 40px;
    background-color: #ef303d;
    padding: 5px 0;
    border-radius: 15px;
    outline: none;
    font-size: 20px;
}

#reservation-btn button{
	width:95%;
	height : 100%;
	background-color: #ef303d;
    text-align: center;
    color: white;
    margin-left : 15px;
    font-size : 18px;
    border-style: none;
    cursor: pointer;
}
#reservation-a p{
	margin-top: 10px;
}

#map{
    width: 1000px;
    height: 350px;
    margin: 50px auto;
    border: 1px solid black;
}

#comment-container{
    width: 900px;
    margin: 50px auto;
    /* border: 1px solid black; */
    transform: translate(30px,0);
}

.comment-content{
    border-radius: 15px;
    outline: none;
    margin-top: 20px;
    border-collapse: collapse;
}

.btn-comment-enroll1{
    width: 50px;
    height: 35px;
    background-color: #ef303d;
    color: white;
    border-style: none;
    border-radius: 15px;
    outline: none;
    position: relative;
    top: -12px;
}

#comment-editor textarea{
    font-size: 20px;
    width: 785px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
}

#content2{
	 font-size: 16px;
	 padding-left: 10px;
     padding-top: 5px;
}

#tbl-comment{
    width: 800px;
    height: 50px;
    border: 1px solid black;
    margin-bottom: 5px;
    border-collapse: separate;
    border-radius: 15px;
    outline: none;
}


table#tbl-comment tr td {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    text-align: left;
    line-height: 180%;
}

table#tbl-comment tr td:first-of-type {
    padding: 5px 5px 5px 30px;
}

table#tbl-comment tr td:last-of-type {
    text-align: right;
    width: 130px;
}

table#tbl-comment button.btn-reply {
    display: none;
    width: 50px;
    height: 35px;
    background-color: #ef303d;
    color: white;
    border-style: none;
    border-radius: 15px;
    outline: none;
}

table#tbl-comment button.btn-delete{
    display : none;
    width: 50px;
    height: 35px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 15px;
    outline: none;
}

table#tbl-comment tr:hover button.btn-delete{display:inline;}

table#tbl-comment tr:hover button.btn-reply {
    display: inline;
}

table#tbl-comment sub.comment-writer {
    color: navy;
    font-size: 14px
}

table#tbl-comment sub.comment-date {
    color: tomato;
    font-size: 10px
}

table#tbl-comment tr.level2 {
    color: gray;
    font-size: 14px;
}

table#tbl-comment tr.level2 td:first-of-type {
    padding-left: 80px;
}

table#tbl-comment tr.level2 sub.comment-writer {
    color: #8e8eff;
    font-size: 14px
}

table#tbl-comment tr.level2 sub.comment-date {
    color: #ff9c8a;
    font-size: 10px
}
/* content end */


